In [2]:
## stack
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [3]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [4]:
a.pop()

20

In [5]:
a.pop()

10

In [7]:
#7-1 stack
word = input("Input a word")
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())

print(result)
print(word[::-1])

Input a wordpython
['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']
nohtyp

In [9]:
# queue
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [10]:
a.pop(0)

1

In [12]:
a.pop(0)

3

In [13]:
#tuple
t = (1,2,3)
print(t+t, t*2)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [14]:
t[1]

2

In [15]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [16]:
print(t[0],t[-2])

1 2

In [17]:
t = (1,2,3,('one','two','three'))
print(t)
print(t[3])
print(t[3][1])

(1, 2, 3, ('one', 'two', 'three'))
('one', 'two', 'three')
two

In [18]:
#set
s1 = set([1,2,3,1,2,3])
s2 = {4,5,6}
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6}

In [20]:
s1.add(1)
s1

{1, 2, 3}

In [21]:
s1.remove(1)
s1

{2, 3}

In [22]:
s1.update([1,4,5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [23]:
s1.discard(3)
s1

{1, 2, 4, 5, 6, 7}

In [25]:
s1.clear()
s1

set()

In [26]:
s1 = {10,20,20,30}
s2 = {30,30,40,50}
print(s1)
print(s2)

{10, 20, 30}
{40, 50, 30}

In [27]:
print(s1 & s2)
print(s1 | s2)
print(s1 - s2)
print(s1 ^ s2)

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

In [28]:
# dictionary
student_info = {2014134041:'sungchul',2016134041:'jinyoung',2017134041:'vo'}
print(student_info)

{2014134041: 'sungchul', 2016134041: 'jinyoung', 2017134041: 'vo'}

In [32]:
student_info[2017134041]

'vo'

In [33]:
country_code = {'America':1, 'Koread':82, 'China':86, 'Japan':81}
country_code

{'America': 1, 'Koread': 82, 'China': 86, 'Japan': 81}

In [34]:
print(country_code.keys())
print(country_code.values())
print(country_code.items())

dict_keys(['America', 'Koread', 'China', 'Japan'])
dict_values([1, 82, 86, 81])
dict_items([('America', 1), ('Koread', 82), ('China', 86), ('Japan', 81)])

In [35]:
# collections
from collections import deque, OrderedDict, defaultdict, Counter, namedtuple

In [37]:
deque_list = deque()

for i in range(5):
    deque_list.append(i)

print(deque_list)

deque([0, 1, 2, 3, 4])

In [38]:
deque_list.pop()

4

In [50]:
deque_list = deque()

for i in range(5):
    deque_list.appendleft(i)
    
print(deque_list)

deque([4, 3, 2, 1, 0])

In [51]:
deque_list.rotate(1)
deque_list

deque([0, 4, 3, 2, 1])

In [52]:
deque_list.rotate(3)
deque_list

deque([3, 2, 1, 0, 4])

In [53]:
#ordereddict
d = {}
d['x'] = 100
d['l'] = 500
d['y'] = 200
d['z'] = 300

for k,v in d.items():
    print(k,v)

x 100
l 500
y 200
z 300

In [54]:
d = OrderedDict()
d['x'] = 100
d['l'] = 200
d['y'] = 300
d['z'] = 400

for k,v in d.items():
    print(k,v)

x 100
l 200
y 300
z 400

In [57]:
def sort_by_key(t):
    return t[0]

d = dict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['l'] = 400

for k,v in OrderedDict(sorted(d.items(), key= sort_by_key)).items():
    print(k,v)

l 400
x 100
y 200
z 300

In [59]:
s = [("yellow",1 ), ('blue', 2), ("yellow", 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)

for k,v in s:
    d[k].append(v)
    
print(d.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [61]:
s = [("yellow",1 ), ('blue', 2), ("yellow", 3), ('blue', 4), ('red', 1)]
d = defaultdict(set)

for k,v in s:
    d[k].add(v)
    
print(d.items())

dict_items([('yellow', {1, 3}), ('blue', {2, 4}), ('red', {1})])

In [62]:
text = list('gallahead')
text

['g', 'a', 'l', 'l', 'a', 'h', 'e', 'a', 'd']

In [63]:
c = Counter(text)
c

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'e': 1, 'd': 1})

In [64]:
c['a']

3

In [65]:
c = Counter(a=4,b=2,c=0,d=-2)
print(list(c.elements()))

['a', 'a', 'a', 'a', 'b', 'b']

In [66]:
Point = namedtuple('Point',['x','y'])
p = Point(11, y=22)
p

Point(x=11, y=22)

In [68]:
text =  """A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about
your firm and its products. And that can mean new prspects contacting you asking you
to sell to them. ...""".lower().split()

word_count = defaultdict(lambda:0)

for word in text:
    word_count[word] += 1
    
for i,v in OrderedDict(sorted(word_count.items(), key=lambda t:t[1], reverse = True)).items():
    print(i,v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prspects 1
contacting 1
asking 1
sell 1
them. 1
... 1

In [69]:
c = Counter(text)
c

Counter({'a': 2,
         'press': 2,
         'release': 2,
         'is': 1,
         'the': 1,
         'quickest': 1,
         'and': 3,
         'easiest': 1,
         'way': 1,
         'to': 3,
         'get': 1,
         'free': 1,
         'publicity.': 1,
         'if': 1,
         'well': 1,
         'written,': 1,
         'can': 2,
         'result': 1,
         'in': 1,
         'multiple': 1,
         'published': 1,
         'articles': 1,
         'about': 1,
         'your': 1,
         'firm': 1,
         'its': 1,
         'products.': 1,
         'that': 1,
         'mean': 1,
         'new': 1,
         'prspects': 1,
         'contacting': 1,
         'you': 2,
         'asking': 1,
         'sell': 1,
         'them.': 1,
         '...': 1})

In [71]:
c['and']

3

In [75]:
def week_seven(sen_1):
    cells = set(sen_1.replace(' ', '').lower())
    return cells

sen_a = "The quick brown fox jumps over the lazy dog"
sen_b = "I love you"
print(len(week_seven(sen_a)))
print(len(week_seven(sen_b)))
print(len(week_seven(sen_a)-week_seven(sen_b)))

26
7
19

In [77]:
a = list(range(10))
a.append(a[3]) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]
a.pop(a[3]) #  [0, 1, 2, 4, 5, 6, 7, 8, 9, 3]
a.insert(3, a[-1]) # 삽입 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3]
a.pop()
print(a) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
example = 'python, jquery, javascript'
a, b, c = example.split(', ')
print(a,b,c)

python jquery javascript

In [79]:
colors = ['red', 'blue','green','yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [80]:
result = ', '.join(colors)
print(result)

red, blue, green, yellow

In [81]:
# 리스트 컴프리헨션
result = [i if i % 2 == 0 else 10 for i in range(10)]
print(result)

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [84]:
word1 = 'ABC'
word2 = 'DEA'
result = [i+j for i in word1 for j in word2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [88]:
result = [ i+j for i in word1 for j in word2 if (i!=j)]
print(result)

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [90]:
result = [[i+j for i in word1]for j in word2]
print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

In [92]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [94]:
dic = {i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea'.split())}
print(dic)

{0: 'TEAMLAB', 1: 'is', 2: 'an', 3: 'academic', 4: 'institute', 5: 'located', 6: 'in', 7: 'South', 8: 'Korea'}

In [95]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a,b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [96]:
ablist = list(zip(alist, blist))
print(ablist)

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [97]:
a,b,c = zip((1,2,3),(100,200,300),(10,20,30))
print(a,b,c)

(1, 100, 10) (2, 200, 20) (3, 300, 30)

In [98]:
[sum(x) for x in zip(a,b,c)]

[6, 600, 60]

In [99]:
no = [1,2,3,4]
name  = ['hong','gil','dong','nim']
dic = {}

for no, name in zip(no, name):
    dic[no] = name
    
print(dic)

{1: 'hong', 2: 'gil', 3: 'dong', 4: 'nim'}

In [101]:
for i, (a,b) in enumerate(zip(alist, blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

In [102]:
f = lambda x, y : x+y
print(f(1,4))

5

In [103]:
print((lambda x,y : x+y)(1,4))

5

In [105]:
user_dict = {}
user_list = ["students","superuser","professor","employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

In [106]:
a = [1,2,3]
b = [4,5,]
c = [7,8,9]
print([[sum(k), len(k)]for k in zip(a,b,c)])

[[12, 3], [15, 3]]

In [107]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a, b in zip(alist,blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [111]:
alphabet = ["a","b","c","d","e","f","g","h"]
nums = [i for i in range(20)]
answer = [alpha + str(num) for alpha in alphabet for num in nums if num%2 == 0]
print(answer)
print(len(answer))

['a0', 'a2', 'a4', 'a6', 'a8', 'a10', 'a12', 'a14', 'a16', 'a18', 'b0', 'b2', 'b4', 'b6', 'b8', 'b10', 'b12', 'b14', 'b16', 'b18', 'c0', 'c2', 'c4', 'c6', 'c8', 'c10', 'c12', 'c14', 'c16', 'c18', 'd0', 'd2', 'd4', 'd6', 'd8', 'd10', 'd12', 'd14', 'd16', 'd18', 'e0', 'e2', 'e4', 'e6', 'e8', 'e10', 'e12', 'e14', 'e16', 'e18', 'f0', 'f2', 'f4', 'f6', 'f8', 'f10', 'f12', 'f14', 'f16', 'f18', 'g0', 'g2', 'g4', 'g6', 'g8', 'g10', 'g12', 'g14', 'g16', 'g18', 'h0', 'h2', 'h4', 'h6', 'h8', 'h10', 'h12', 'h14', 'h16', 'h18']
80

In [112]:
f = lambda x, y:x+y
print(f(1,4))

5

In [113]:
print((lambda x, y : x+y)(1,4))

5

In [114]:
ex = [1,2,3,4,5]
f = lambda x: x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [115]:
[x ** 2 for x in ex]

[1, 4, 9, 16, 25]

In [116]:
f = lambda x, y : x+y
list(map(f,ex,ex))

[2, 4, 6, 8, 10]

In [117]:
[x+y for x, y in zip(ex,ex)]

[2, 4, 6, 8, 10]

In [118]:
list(map(lambda x : x ** 2 if x%2 == 0 else x, ex))

[1, 4, 3, 16, 5]

In [119]:
[x ** 2 if x % 2 == 0 else x for x in ex]

[1, 4, 3, 16, 5]

In [120]:
from functools import reduce
print(reduce(lambda x, y : x+y, [1,2,3,4,5]))

15

In [123]:
print(reduce(lambda x, y : x+y, [1,2,3,4,5],100))

115

In [124]:
f = lambda a, b :  a if (a>b) else b
print(reduce(f, [1,100,1.55]))

100

In [125]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [127]:
def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))
    
asterisk_test(1, b=2, c=3, d=4, e= 5, f = 6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [129]:
def asterisk_test(a,args):
    print(a, *args)
    print(type(args))
    
asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [130]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1,*(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [133]:
for data in zip(*[[1,2],[3,4],[5,6]]):
    print(data)
    print(sum(data))

(1, 3, 5)
9
(2, 4, 6)
12

In [136]:
def asterisk_test(a,b,c,d):
    print(a,b,c,d)

data = {'b':1, 'c':2, 'd':3}
asterisk_test(10, **data)

10 1 2 3

In [139]:
def add(a=0,b=0):
    return a+b

d = {'a':2,'b':3}
print(add(**d))

5

In [141]:
def test(arg1, arg2, arg3):
    print('arg3:', arg3)
    print('arg2:', arg2)
    print('arg1:', arg1)
    
kwargs = {'arg3':3, 'arg2':'two','arg1':1}
test(**kwargs)

arg3: 3
arg2: two
arg1: 1

In [143]:
def t_list(two_list):
    return[row for row in zip(*two_list)]
 
t_list([[1,4,7], [2,5,8], [3,6,9]])

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [144]:
class Box(object):
    def __init__(self,name):
        self.name = name
        self.__items = []
        
    def add_item(self, item):
        self.__items.append(item)
        print("아이템 추가")
        
    def get_number_of_items(self):
        return len(self.__items)

In [145]:
box = Box("Box")
box.add_item("item1")
box.add_item("item2")
print(box.name)
print(box.get_number_of_items())

아이템 추가
아이템 추가
Box
2

In [147]:
class Vehicle(object):
    speed = 0
    def up_speed(self, value):
        self.speed += value
        
    def down_speed(self, value):
        self.speed -= value
        
    def print_speed(self):
        print("Speed", str(self.speed))
        
class Car(Vehicle):
    def up_speed(self, value):
        self.speed += value
        if self.speed > 240:
            self.speed = 240
            
class Truck(Vehicle):
    def up_speed(self, value):
        self.speed += value
        if self.speed > 180:
            self.speed = 180

In [148]:
car = Car()
car.up_speed(300)
car.print_speed()

truck = Truck()
truck.up_speed(200)
truck.print_speed()

Speed 240
Speed 180

In [150]:
class Person(object):
    def __init__(self,name):
        self.name = name
        
    def language(self):
        pass
    
class Earthling(Person):
    def language(self, language):
        return language
    
class Groot(Person):
    def language(self, language):
        return "Im Groot!"
    
name = ['Gachon','Dr.strange','Groot']
country = ['Korea', 'USA', 'Galaxy']
language = ['Korean','English','Groot']

for idx, name in enumerate(name):
    if country[idx].upper() != 'GALAXY':
        person = Earthling(name)
        print(person.language(language[idx]))
        
    else:
        groot = Groot(name)
        print(groot.language(language[idx]))

Korean
English
Im Groot!

In [154]:
class Person:
    def __init__(self,name, age, position):
        self.Name = name
        self.Age = age
        self.Position = position
    def show_info(self):
        print("이름 : {}".format(self.Name))
        print("나이 : {}".format(self.Age))
        print("직위 : {}".format(self.Position))
        print("저는 가천대학교 연구소 {0} {1} 입니다. 나이는 {2}입니다."
.format(self.Position, self.Name, self.Age))
        
class Researcher(Person):
    def __init__(self, name, age, position, degree):
        Person.__init__(self, name, age, position)
        self.Degree = degree
    def show_info(self):
        Person.show_info(self)
        print("저는 {} 입니다.".format(self.Degree))
        
if __name__ == '__main__':
    researcher_john = Researcher("John","22","연구원","학사")
    researcher_tedd = Researcher("Tedd","40","소장","박사")
    researcher_john.show_info()
    print("="*50)
    researcher_tedd.show_info()

이름 : John
나이 : 22
직위 : 연구원
저는 가천대학교 연구소 연구원 John 입니다. 나이는 22입니다.
저는 학사 입니다.
==================================================
이름 : Tedd
나이 : 40
직위 : 소장
저는 가천대학교 연구소 소장 Tedd 입니다. 나이는 40입니다.
저는 박사 입니다.

In [1]:
class IceCream(object):
    def __init__(self, flavor):
        self.flavor = flavor
    def change_flavor(self, new_flavor):
        print("아이스크림을 {0}에서 {1}로 변경해주세요".format(self.flavor, new_flavor))
        self.flavor = new_flavor
        print("아이스크림 맛을 {0}로 변경해드렸어요.".format(self.flavor))
        

ice_cream = IceCream("레인보우 샤베트")
ice_cream.change_flavor("바람과 함께 사라지다")

아이스크림을 레인보우 샤베트에서 바람과 함께 사라지다로 변경해주세요
아이스크림 맛을 바람과 함께 사라지다로 변경해드렸어요.

In [ ]:
import socket
from _thread import *
from tkinter import *

def threaded(client_socket, addr):
    global chat_log
    chat_log['state'] = 'normal'
    chat_log.insert("end",)