In [1]:
#1
a = [0,1,2,3,4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [2]:
#2
a = [0,1,2,3,4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [8]:
#3
first = ["egg","salad","bread","soup","canafe"]
second = ["fish","lamb","pork","beef","chicken"]
third = ["apple","banana","orange","grape","mango"]

order = [first, second, third]
john = [order[0][:-2], second[1::3],third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [9]:
# 4
list_a = [3,2,1,4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [10]:
# 5
a = [5,7,3]
b = [3,9,1]
c = a + b
c.sort()
print(c)

[1, 3, 3, 5, 7, 9]

In [11]:
# 7
fruits = ['apple','banana','cherry','grape','orange','strawberry','melon']
print(fruits[-3:],fruits[1::3])

['orange', 'strawberry', 'melon'] ['banana', 'orange']

In [12]:
# 8
num = [1,2,3,4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
# 9
a = [1,2,3,5]
b = ['a','b','c','d','e']

a.append('g')
b.append(6)
print('g' in b, len(b))

False 6

In [15]:
#11
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: 2018
<class 'str'>

In [3]:
#12

country = ["Korean","Japan","China"]
capital = ["Seoul","Tokyo","Beijing"]
index = [1,2,3]
country.append(capital)
country[3][1] = index[1:]
print(country)

['Korean', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]

In [20]:
# 13
week1 = ["Mon", "Tue", "Wed"]
week2 = ["Thu", "Fri", "Sat", "Sun"]
week3 = [week1 + week2]
print(week3, len(week3))
print(week2[:len(week3) + 1])

[['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']] 1
['Thu', 'Fri']