### 1. 연습문제 8번

In [5]:
number = 10
day = 3
print("I eat %d oranges every day." %number)

number = 10
day = "three"
print("I eat {0} oranges every {1} days.".format(number, day))

I eat 10 oranges every day.
I eat 10 oranges every three days.

### 2. 연습문제 10번

In [8]:
str_a = "this is"
str_b = "PythoN."
print(str_a.title() + " " + str_b.upper())

This Is PYTHON.

### 3. 연습문제 12번

In [18]:
for i in range(1,13,2):
    s = "*"
    print("{0:^13}".format(s * i))

      *
     ***
    *****
   *******
  *********
 ***********

### 4. name, age, location 변수를 생성하고 각각 'Kevin', 25, 'New York'을 대입한 후, 변수를 이용하여 아래와 같은 문장이 출력하는 코드를 작성하시오.
Hello! My name is Kevin. I'm from New York. I am 25 years old.

In [19]:
name = "Kevin"
age = 25
location = "New York"

print("Hello! My name is {0}. I'm from {1}. I am {2} years old".format(name,location,age))

Hello! My name is Kevin. I'm from New York. I am 25 years old

### 5. 변수 string1 은 'red apple', 변수 string2는 'yellow banana'의 문자열을 담고 있다. 문자열 인덱싱을 이용하여 'red banana', 'yellow apple'을 출력해 보자.

In [25]:
string1 = "red apple"
string2 = "yellow banana"

print(string1[0:3],string2[7:13])
print(string2[0:6],string1[4:9])

red banana
yellow apple