# stack

In [2]:
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [4]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20, 20]

In [5]:
a.pop()

20

In [6]:
a.pop()

20

In [7]:
# 7-1 stack
word = input("Input a word:")
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
    
print(result)
print(word[::-1])

Input a word:PYTHON
['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']
NOHTYP

# Queue

In [8]:
a = [1,2,3,4,5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [9]:
a.pop(0)

1

In [10]:
a.pop(0)

2

# tuple
* 리스트와 유사하지만 변경 불가능한 자료 구조
* () 를 사용하여 정의

In [12]:
t = (1,2,3)
print(t + t, t*2)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [13]:
t[1]

2

In [14]:
t[1] = 5 ##에러

TypeError: 'tuple' object does not support item assignment

# tuple indexing

In [16]:
print(t[0], t[-2])

1 2

# nested tuple indexing

In [18]:
t = (1,2,3,('one','Two','Three'))
print(t)
print(t[3])
print(t[3][1])

(1, 2, 3, ('one', 'Two', 'Three'))
('one', 'Two', 'Three')
Two

# Set
* 데이터 중복을 허용하지 않는 자료 구조
* 순서가 없는 데이터 집합
* 인덱싱 불가

In [20]:
s1 = set([1,2,3,1,2,3])
s2 = {4,5,6}
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6}

In [22]:
s1.add(1)
s1

{1, 2, 3}

In [23]:
s1.remove(1)
s1

{2, 3}

In [24]:
s1.update([1,4,5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [25]:
s1.discard(3)
s1

{1, 2, 4, 5, 6, 7}

In [27]:
s1.clear()
s1

set()

## set operators, methods
* 교집합 : &, intersection()
* 합집합 : |, union()
* 차집합 : -, difference()
* 대칭차 : ^, symmetric_difference()

In [28]:
s1 = {10,20,20,30}
s2 = {30,30,40,50}
print(s1)
print(s2)

{10, 20, 30}
{40, 50, 30}

In [29]:
print(s1 & s2)
print(s1 | s2)
print(s1 - s2)
print(s1 ^ s2)

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

In [30]:
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{30}
{50, 20, 40, 10, 30}
{10, 20}
{40, 10, 50, 20}

# dictionary
* key, value의 쌍으로 구성된 자료 구조
* 순서가 없는 데이터
* key를 이용하여 value 검색
* 동일한 key가 있을 경우 덮어씀

In [31]:
student_info = {20140012:'Sungchul', 20140059:'Jiyoung',20140058:'JaeHong'}
print(student_info)

{20140012: 'Sungchul', 20140059: 'Jiyoung', 20140058: 'JaeHong'}

In [32]:
student_info[20140012]

'Sungchul'

In [33]:
student_info[20140012] = 'Janghyueok'
student_info[20140039] = 'wonchul'
student_info

{20140012: 'Janghyueok',
 20140059: 'Jiyoung',
 20140058: 'JaeHong',
 20140039: 'wonchul'}

# dictionary methods

In [34]:
country_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [35]:
print(country_code.keys())
print(country_code.values())
print(country_code.items())

dict_keys(['America', 'Korea', 'China', 'Japan'])
dict_values([1, 82, 86, 81])
dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81)])

In [36]:
'Korea' in country_code.keys()

True

In [37]:
'German' in country_code.keys()

False

In [38]:
82 in country_code.values()

True

In [39]:
49 in country_code.values()

False

# collections
컨테이너 데이터형

In [41]:
from collections import deque, OrderedDict, defaultdict, Counter, namedtuple

# deque
양쪽 끝에서 빠르게 추가와 삭제를 할 수 있는 리스트형 컨테이너

In [42]:
deque_list = deque()

for i in range(5):
    deque_list.append(i)
    
print(deque_list)

deque([0, 1, 2, 3, 4])

In [43]:
deque_list.pop()

4

In [44]:
deque_list.pop()

3

In [45]:
deque_list.pop()

2

In [46]:
deque_list

deque([0, 1])

In [47]:
deque_list = deque()

for i in range(5):
    deque_list.appendleft(i)
    
print(deque_list)

deque([4, 3, 2, 1, 0])

In [48]:
deque_list.rotate(2)
deque_list

deque([1, 0, 4, 3, 2])

In [49]:
deque_list.rotate(3)
deque_list

deque([4, 3, 2, 1, 0])

In [50]:
deque(reversed(deque_list))

deque([0, 1, 2, 3, 4])

In [51]:
deque_list.extend([5,6,7])
deque_list

deque([4, 3, 2, 1, 0, 5, 6, 7])

In [52]:
deque_list.extendleft([8,9])
deque_list

deque([9, 8, 4, 3, 2, 1, 0, 5, 6, 7])

## OrderedDict
항목이 추가된 순서를 기억하는 딕셔너리 서브 클래스

In [53]:
d = {}
d['x'] = 100
d['l'] = 500
d['y'] = 200
d['z'] = 300

for k, v in d.items():
    print(k,v)

x 100
l 500
y 200
z 300

In [54]:
d = OrderedDict()
d['x'] = 100
d['l'] = 200
d['y'] = 300
d['z'] = 400

for k, v in d.items():
    print(k,v)

x 100
l 200
y 300
z 400

In [57]:
def sort_by_key(t):
    return t[0]

d = dict()
d['x'] = 100
d['y'] = 200
d['z'] = 300
d['i'] = 400

for k, v in OrderedDict(sorted(d.items(), key=sort_by_key)).items():
    print(k,v)

i 400
x 100
y 200
z 300

In [59]:
sorted(d.items(), key=sort_by_key)

[('i', 400), ('x', 100), ('y', 200), ('z', 300)]

## defaultdict
누락된 값을 제공하기 위해 팩토리 함수를 호출하는 딕셔너리 서브 클래스

In [60]:
d = dict()
print(d["first"])

KeyError: 'first'

In [61]:
d = defaultdict(lambda: 0)
print(d["first"])

0

In [62]:
# 7-7 : List 를 default_factory로 사용. 키, 값 시퀀스를 리스트의 딕셔너리로 그룹화
s = [("yellow",1 ), ('blue', 2), ("yellow", 3), ('blue', 4), ('red', 1)]
d = defaultdict(list)

for k , v in s:
    d[k].append(v)
    
print(d.items())

dict_items([('yellow', [1, 3]), ('blue', [2, 4]), ('red', [1])])

In [63]:
# set를 default_factory로 사용, 집합의 딕셔너리 생성
s = [("yellow",1 ), ('blue', 2), ("yellow", 3), ('blue', 4), ('red', 1)]
d = defaultdict(set)

for k , v in s:
    d[k].add(v)

print(d.items())

dict_items([('yellow', {1, 3}), ('blue', {2, 4}), ('red', {1})])

# Counter
시퀀스 자료형의 데이터값의 개수를 세는 딕셔너리 서브 클래스

In [64]:
text = list('gallahad')
text

['g', 'a', 'l', 'l', 'a', 'h', 'a', 'd']

In [65]:
c = Counter(text)
c

Counter({'g': 1, 'a': 3, 'l': 2, 'h': 1, 'd': 1})

In [66]:
c['a']

3

### Counter methods

In [67]:
# elements() : 각 요소의 개수만큼 리스트형의 결과 출력, 1보다 작으면 무시
c = Counter(a=4, b=2, c=0, d=-2)
print(list(c.elements()))

['a', 'a', 'a', 'a', 'b', 'b']

In [68]:
# most common(n) : 빈도수가 가장 높은 n개의 요소 반환
### n을 생략하면 모든요소, 개수가 같은 요소는 처음 발견된 것 순서로
Counter('abracadabra').most_common(3)

[('a', 5), ('b', 2), ('r', 2)]

In [69]:
Counter('abracadabra').most_common()

[('a', 5), ('b', 2), ('r', 2), ('c', 1), ('d', 1)]

In [70]:
# subtract : 요소의 개수 빼기
c = Counter(a=4, b=2, c = 0, d = -2)
d = Counter(a=1, b=2, c=3, d = 4)

print(c+d)
print(c-d)
print(c & d)
print(c | d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'a': 3})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

## named tuple
이름 붙은 필드를 갖는 튜플 서브 클래스를 만드는 팩토리 함수

In [71]:
Point = namedtuple('Point', ['x','y'])
p = Point(11, y = 22)
p

Point(x=11, y=22)

In [72]:
p[0] + p[1]

33

In [73]:
x, y = p #unpack
x, y

(11, 22)

In [74]:
p.x + p.y

33

# lab : tetmining

In [79]:
text =  """A press release is the quickest and easiest way to get free publicity.
If well written, a press release can result in multiple published articles about
your firm and its products. And that can mean new prspects contacting you asking you
to sell to them. ...""".lower().split()

word_count = defaultdict(lambda: 0)

for word in text:
    word_count[word] += 1
    
for i, v in OrderedDict(sorted(word_count.items(), key=lambda t:t[1], reverse= True)). items():
    print(i,v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prspects 1
contacting 1
asking 1
sell 1
them. 1
... 1

In [80]:
c = Counter(text)
c

Counter({'a': 2,
         'press': 2,
         'release': 2,
         'is': 1,
         'the': 1,
         'quickest': 1,
         'and': 3,
         'easiest': 1,
         'way': 1,
         'to': 3,
         'get': 1,
         'free': 1,
         'publicity.': 1,
         'if': 1,
         'well': 1,
         'written,': 1,
         'can': 2,
         'result': 1,
         'in': 1,
         'multiple': 1,
         'published': 1,
         'articles': 1,
         'about': 1,
         'your': 1,
         'firm': 1,
         'its': 1,
         'products.': 1,
         'that': 1,
         'mean': 1,
         'new': 1,
         'prspects': 1,
         'contacting': 1,
         'you': 2,
         'asking': 1,
         'sell': 1,
         'them.': 1,
         '...': 1})

In [82]:
c['and']

3